body {
    font-family: sans-serif;
    background-color: #18154b;
    text-align: center;
}

body::-webkit-scrollbar {
    width: 2px;
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}